<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Process</title>
	</head>
	<body>
		<form action="/process" method="POST">
			<input type="text" name="text"><br>
			<input type="radio" name="operation" value="s" checked>Number of characters<br>
			<input type="radio" name="operation" value="w">Number of words<br>
			<input type="radio" name="operation" value="p">Number of proposals<br>
			<input type="radio" name="operation" value="a">Number of paragraphs<br>
			<input type="submit" value="Process">
		</form>
	</body>
</html>