body {
    font-family: Helvetica, sans-serif;
}

div {
    margin: 5px;
}

.red {
    color: red;
}

.black {
    color: black;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.blue {
    color: blue;
}

.row {
    display: inline-flex;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.justify {
    text-align: justify;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.one {
    width: 144px;
}

.two {
    width: 289px;
}

.three {
    width: 438px;
}